h1 {
    font-weight: 800;
    padding-left: 0; 
    color: white;
}

p {
    padding-left: 20px;
    font-weight: 700;
    color: white;
}

.idt {
    float: right;
}

.bgm {
    background-image: url(src/assets/movies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    width: 100%;
}

.bgt {
    margin-left: 50px;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-right : 10px;
}

input {
    padding-right: 50px;
}
